@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

/* header start */

header{
    padding: 12rem auto;
    height: 100vh;
    padding: 2% 10%;
    border-bottom: 1px solid #666;
}

header nav:nth-of-type(1) ul li{
    display: inline-block;
    padding-right: 1%;
}

header nav:nth-of-type(1) ul li a{
    display: inline-block;
    text-decoration: none;
    color: #659d89;
}

header section{
    margin-top: 10%;
    width: 40vw;
}

header h1{
    font-size: 4.5rem;
    color: #659d89;
}

header section p{
    font-size: 3.5rem;
    margin-bottom: 20%;
}


header nav:nth-of-type(2) ul{
    list-style: none;
    text-align: right;
    margin-bottom: 5%;
}

header nav:nth-of-type(2) ul li a img{
    height: 3vh;
}

header p a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

header p a::before{
    content: "↓";
    font-size: 3rem;
    padding: 0 2% 0 0;
}

/* header done */
/* main start */

    /* section 1 of main start */

/* main{
    padding: 2% 10%;
} */

main section:first-of-type{
    padding: 2% 10% 6% 10%;
    border-bottom: 1px solid #666;
}

h4{
    font-size: 2rem;
    padding: 5% 0 2% 0;
}

main section:first-of-type article p{
    font-size: 1.2rem;
    padding-bottom: 5%;
}

main section:first-of-type article:not(:first-of-type){
    padding: 0 0 0 8%;
}

main section:first-of-type article img{
    margin: 5% 5% 0 0;
}

main section:first-of-type article img:hover{
    box-shadow: 0 0 40px #666;
}
    /* section 1 of main done */

    /* section 2 of main start */

        /* general formatting for all */
main section:nth-of-type(2){
    padding: 2% 10% 6% 10%;
    border-bottom: 1px solid #666;
}

main section:nth-of-type(2) article{
    width: 1000px;
}

main section:nth-of-type(2) article p{
    text-align: center;
}

main section:nth-of-type(2) article p:nth-of-type(1){
    color: #666;
}

main section:nth-of-type(2) article p:nth-of-type(2){
    line-height: 300%;
}

main section:nth-of-type(2) article p:nth-of-type(2) a{
    text-decoration: none;
    color: black;
    font-size: 1.7em;
    padding: 20% auto;
}

main section:nth-of-type(2) article p:nth-of-type(3){
    color: #666;
}

        /* end of general formatting */

main section:nth-of-type(2) article div img{
    width: 50vw;
}

main section:nth-of-type(2) article:nth-of-type(1) div img:hover{
    box-shadow: 0 0 40px #666;
}


/*  */
main section:nth-of-type(2) article:nth-of-type(even){
    padding: 15% 0  15% 38%;
    text-align: right;
}

/* main done */
/* footer start */
footer{
    text-align: center;
}

footer section a{
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        display: block;
        padding: 6%;
    }
    
footer section a::before{
        content: "↑";
        font-size: 3rem;
        padding: 0 2% 0 0;
}